<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="EcomHouse\ProductVariants\DataProvider\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="products" xsi:type="array">
                    <item name="class" xsi:type="string">EcomHouse\ProductVariants\Ui\DataProvider\Group\Form\Modifier\Products</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="EcomHouse\ProductVariants\Ui\DataProvider\Group">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">EcomHouse\ProductVariants\DataProvider\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
