<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="EcomHouse_ProductVariants::parent"
             title="Product Variants"
             module="EcomHouse_ProductVariants"
             translate="title"
             sortOrder="100"
             parent="EcomHouseExtensions_Base::menu"
             resource="EcomHouse_ProductVariants::parent"/>
        <add id="EcomHouse_ProductVariants::group"
             title="Manage Groups"
             module="EcomHouse_ProductVariants"
             translate="title"
             sortOrder="10"
             parent="EcomHouse_ProductVariants::parent"
             action="ecomhouse_productvariants/group/index"
             resource="EcomHouse_ProductVariants::Group"/>
        <add id="EcomHouse_ProductVariants::config"
             title="Configuration"
             module="EcomHouse_ProductVariants"
             translate="title"
             sortOrder="20"
             parent="EcomHouse_ProductVariants::parent"
             action="adminhtml/system_config/edit/section/ecomhouse_productvariants"
             resource="EcomHouse_ProductVariants::config"/>
    </menu>
</config>
